/* App.css */

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header, footer {
  background-color: rgb(49, 35, 48); /* Example color */
  padding: 1rem;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}
