/* .list-group-item.d-flex.justify-content-between.align-items-start>div{
  margin: 0px;
  white-space: pre-wrap;
  word-wrap: break-word;
} */
#chat-container{
  max-width: 70%;
}

.btn.btn-primary {
  /* Your custom styles */
  --bs-btn-bg: rgb(48, 101, 112);
  --bs-btn-border-color: rgb(48, 101, 112); 
  --bs-btn-color: #fff;
  --bs-btn-hover-bg: rgb(20, 75, 85); 
  --bs-btn-hover-color: #fff; 
  --bs-btn-hover-border-color: #fff;
  --bs-font-family-base: 'Roboto', sans-serif; 
  --bs-font-weight-base: 700;
}

.reaction-buttons {
  display: flex;
  gap: 10px; /* Adjust the space between buttons */
}

.reaction-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  outline: none;
  transition: background-color 0.3s ease;
}

.reaction-button:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}

.reaction-button.selected {
  border-radius: 50%; /* Make selected button round */
}
