@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;700&display=swap');

#chat-container{
  max-width: 70%;
  margin: 0 auto;
}

div#comments-container{
  border: 1px solid rgba(38, 36, 36, 0.5);
  border-radius: 6px;
  overflow-y: auto;
}


div.card-body{
  background-color: rgba(240, 240, 240, 0.8);
  border-radius: 6px;
  height: 100%;
}

/* #viewers-container {
  margin-left: 1px;
} */

/* Add this txo your CSS file */
.tv-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
  border: 10px solid #333;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 65vh;
  margin: 0 auto;
  overflow: hidden;
}

.card-body{
  height: 100%;
}

#stand-by.centered-image {
  max-width: auto;
  height: auto;
  display: block;
}

.btn.btn-primary {
  --bs-btn-bg: rgb(48, 101, 112);
  --bs-btn-border-color: rgb(48, 101, 112); 
  --bs-btn-color: #fff;
  --bs-btn-hover-bg: rgb(20, 75, 85); 
  --bs-btn-hover-color: #fff; 
  --bs-btn-hover-border-color: #fff;
  --bs-font-family-base: 'Oxanium', sans-serif; 
  --bs-font-weight-base: 700;
  outline: none;
}

.user-nickname-input, .user-nickname-display {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between input/button */
}

.user-nickname-text {
  font-family: 'Oxanium', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.nickname-input{
  flex-grow: 1;
  border-radius: 5px;
  vertical-align: middle;
  background-color: #f0f0f0;
}

.user-nickname-input button,
.user-nickname-input .btn,
.user-nickname-display button,
.user-nickname-display .btn {
  border-color:black;
  font-family: 'Oxanium', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  outline: none;
}

.reaction-buttons {
  display: flex;
  gap: 10px; 
}

.reaction-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  outline: none;
  border-radius: 80%; /* Ensure it's fully opaque when selected */
  transition: background-color 0.3s ease;
}

.reaction-button:hover {
  background-color: rgba(255, 251, 0, 0.3);
  border-radius: 16px;
}

.reaction-button.selected {
  background-color: rgba(251, 255, 0, 0.7); /* Light yellow background */
  animation: shine 1s ease-in-out;
  box-shadow: 0 0 10px rgba(251, 255, 0, 0.7);
}

.reaction-button.deselected {
  background-color: transparent; /* Transparent background when deselected */
}

#go-to-top {
  position: absolute;
  bottom: 10px;
  scroll-margin-bottom: 0;
}