.host-profile-container {
  background-color: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 80%; /* Example: Limit container width */
  width: 100%;
  margin: auto; /* Center the container */
  margin-top: 20px; /* Example: Add top margin */
}

.project-container {
  background-color: #f8f9fa; /* Light gray background */
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.project-container h4 {
  margin-bottom: 10px;
}

.project-container p {
  margin-bottom: 15px;
}

.btn.btn-info.create-project{
  font-weight: 600;
  color: #f8f9fa;
  background-color:rgb(48, 101, 112);
  border-color:  rgba(14, 13, 13, 0.8);
}

.username-projects-title{
  color: rgb(48, 101, 112);
}

.welcome-username{
  color: rgb(22, 24, 24);
}
