.host-panel > .card-body.col-4 {
  width: 100%;
}

.btn-primary {
  --bs-btn-bg: rgb(48, 101, 112);
  --bs-btn-border-color: rgb(48, 101, 112);
  --bs-btn-color: #fff;
  --bs-btn-hover-bg: rgb(20, 75, 85); 
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-border-color: #fff;
  --bs-font-family-base: 'Roboto', sans-serif; 
  --bs-font-weight-base: 700;
}

.container.toggle-online{
  flex: 3; /* Occupies 30% of the space */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.host-panel-toggle{
  font-family: 'Oxanium', sans-serif;
  background-color: rgb(240, 217, 215);
  border: 2px solid rgb(37, 34, 36);
  font-weight: 600;
  font-size: 1rem;
}


.btn.toggle-online.start,
.btn.toggle-online.stop{
  width: 100%;
  background-color: rgba(48, 101, 112, 0.5);
  border: 2px dashed rgb(37, 34, 36);
  font-size: 2rem;
  color: rgba(226, 228, 120, 1);
  font-family: 'Oxanium', sans-serif;
  font-weight: 900;
}

.btn.toggle-online.start {
  animation: dust 2s infinite;
}

.upper-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ticker-container {
  flex: 7; /* Occupies 70% of the space */
  overflow: hidden;
  white-space: nowrap;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@keyframes dust {
  0% {
    box-shadow: 
      0 0 5px rgba(255, 255, 255, 0.5),
      0 0 10px rgba(255, 255, 255, 0.5),
      0 0 15px rgba(255, 255, 255, 0.5),
      0 0 20px rgba(255, 255, 255, 0.5),
      0 0 25px rgba(255, 255, 255, 0.5),
      0 0 30px rgba(255, 255, 255, 0.5),
      0 0 35px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 
      0 0 5px rgba(255, 255, 255, 0),
      0 0 10px rgba(255, 255, 255, 0),
      0 0 15px rgba(255, 255, 255, 0),
      0 0 20px rgba(255, 255, 255, 0),
      0 0 25px rgba(255, 255, 255, 0),
      0 0 30px rgba(255, 255, 255, 0),
      0 0 35px rgba(255, 255, 255, 0);
  }
}


.host-event-screen {
  height: 70%;
  padding: 10px;
}

.sharing-screen-border {
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 5px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: dust2 3s infinite;
}

@keyframes dust2 {
  0% {
    box-shadow: 
      0 0 5px rgba(255, 255, 204, 0.5),
      0 0 10px rgba(255, 255, 204, 0.5),
      0 0 15px rgba(255, 255, 204, 0.5),
      0 0 20px rgba(255, 255, 204, 0.5),
      0 0 25px rgba(255, 255, 204, 0.5),
      0 0 30px rgba(255, 255, 204, 0.5),
      0 0 35px rgba(255, 255, 204, 0.5);
  }
  100% {
    box-shadow: 
      0 0 5px rgba(255, 255, 204, 0),
      0 0 10px rgba(255, 255, 204, 0),
      0 0 15px rgba(255, 255, 204, 0),
      0 0 20px rgba(255, 255, 204, 0),
      0 0 25px rgba(255, 255, 204, 0),
      0 0 30px rgba(255, 255, 204, 0),
      0 0 35px rgba(255, 255, 204, 0);
  }
}

.sharing-status {
  margin: 5px 4px;
  display: flex;
  align-items: center;
  margin-top: 10px; /* Adjust margin as needed */
}

.status-box {
  background-color: rgba(226, 231, 233, 0.5); /* Adjust color as needed */
  border: 1px solid black;
  padding: 10px 0;
  border-radius: 5px;
  font-weight: bold;
  min-width: 20px; /* Adjust minimum width as needed */
  text-align: center;
  flex-grow: 0.5;
}

.status-content {
  padding: 10px;
  font-size: 1.3rem; /* Adjust font size as needed */
  font-weight: bold;
  flex-grow: 10;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1rem;
}

.status-content.show-questions {
  color: rgba(244, 248, 13, 0.9);
  text-shadow: #FC0 5px 0 10px;
}

.status-content.hide-questions {
  color: rgba(102, 102, 101, 0.9);
  text-shadow: rgba(238, 20, 20, 0.705) 52px 2 10px;
}

button.flow-control-button.hide-questions{
  background-color: rgba(238, 20, 20, 0.521);
  border-radius: 2px;
}

/* Basic button styles */
.reaction-buttons {
  display: flex;
  text-shadow: #333;
  gap: 10px;
}

.fa-icon {
  font-size: 2rem;
}

.host-event-screen .reaction-button .fa-icon.heart{
  color: rgba(234, 178, 206, 0.6);
  text-shadow: rgb(26, 25, 25) 1px 6 15px;
}

.host-event-screen .reaction-button .fa-icon.like{
  color: rgba(243, 235, 239, 0.863);
}

.host-event-screen .reaction-button .fa-icon.dislike{
  color: rgba(156, 150, 153, 0.863);
}

.reaction-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  outline: none;
  border-radius: 50%;
  transition: transform 0.2s ease;
  position: relative;
  font-size: 1.5rem; /* Adjust icon size */
}

.reaction-button:hover {
  background-color: rgba(255, 251, 0, 0.5);
}

.reaction-button.selected {
  animation: jump 1s ease, shine 1s ease-in-out;
  border-radius: 50%;
}

.reaction-button:active {
  transform: translateY(-2px);
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes shine {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 0, 0.5);
  }
  50% {
    box-shadow: 
      0 0 5px rgba(255, 255, 0, 0.5),
      0 0 10px rgba(255, 255, 0, 0.7),
      0 0 15px rgba(255, 255, 0, 0.5),
      0 0 20px rgba(255, 255, 0, 0.3),
      0 0 25px rgba(255, 255, 0, 0.1),
      0 0 30px rgba(255, 255, 0, 0.05),
      0 0 35px rgba(255, 255, 0, 0.02),
      0 0 40px rgba(255, 255, 0, 0.01);
  }
  100% {
    box-shadow: 0 0 5px rgba(255, 255, 0, 0.5);
  }
}

.reaction-button.selected::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 0, 0.6), rgba(255, 255, 0, 0) 70%);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: aura 1s ease-in-out infinite;
}

@keyframes aura {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.5);
  }
}


.answer-counter{
  display: flex;
  font-size: large;
  font-family: 'Roboto', sans-serif;
  border-radius: 8px;
  text-align: left;
  font-size: 2rem;
  color: #fff;
  text-shadow: rgb(26, 25, 25) 1px 6 15px;
}

.btn-group-bar {
  margin-top: 25px;
}

button.flow-control-button {
  font-family: 'Roboto', sans-serif; ;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5rem;
  font-weight: 500;
  border: 2px solid black;
}


