.btn-primary {
  --bs-btn-bg: rgb(48, 101, 112); /* Background color */
  --bs-btn-border-color: rgb(48, 101, 112); /* Border color */
  --bs-btn-color: #fff; /* Text color */
  --bs-btn-hover-bg: rgb(20, 75, 85); /* Hover background color */
  --bs-btn-hover-color: #fff; /* Hover text color */
  --bs-btn-hover-border-color: #fff; /* Hover border color */
  --bs-font-family-base: 'Roboto', sans-serif; /* Font family */
  --bs-font-weight-base: 700; /* Font weight */
}
