.host-panel > .card-body.col-4 {
  width: 100%;
}

.btn-primary {
  --bs-btn-bg: rgb(48, 101, 112);
  --bs-btn-border-color: rgb(48, 101, 112);
  --bs-btn-color: #fff;
  --bs-btn-hover-bg: rgb(20, 75, 85); 
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-border-color: #fff;
  --bs-font-family-base: 'Roboto', sans-serif; 
  --bs-font-weight-base: 700;
}

.container.toggle-online{
  flex: 3; /* Occupies 30% of the space */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.host-panel-toggle{
  font-family: 'Oxanium', sans-serif;
  background-color: rgb(240, 217, 215);
  border: 2px solid rgb(37, 34, 36);
  font-weight: 600;
  font-size: 1rem;
}


.btn.toggle-online.start,
.btn.toggle-online.stop{
  width: 100%;
  background-color: rgba(48, 101, 112, 0.5);
  border: 2px dashed rgb(37, 34, 36);
  font-size: 2rem;
  color: rgba(226, 228, 120, 1);
  font-family: 'Oxanium', sans-serif;
  font-weight: 900;
}

.btn.toggle-online.start {
  animation: dust 2s infinite;
}

.upper-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ticker-container {
  flex: 7; /* Occupies 70% of the space */
  overflow: hidden;
  white-space: nowrap;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@keyframes dust {
  0% {
    box-shadow: 
      0 0 5px rgba(255, 255, 255, 0.5),
      0 0 10px rgba(255, 255, 255, 0.5),
      0 0 15px rgba(255, 255, 255, 0.5),
      0 0 20px rgba(255, 255, 255, 0.5),
      0 0 25px rgba(255, 255, 255, 0.5),
      0 0 30px rgba(255, 255, 255, 0.5),
      0 0 35px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 
      0 0 5px rgba(255, 255, 255, 0),
      0 0 10px rgba(255, 255, 255, 0),
      0 0 15px rgba(255, 255, 255, 0),
      0 0 20px rgba(255, 255, 255, 0),
      0 0 25px rgba(255, 255, 255, 0),
      0 0 30px rgba(255, 255, 255, 0),
      0 0 35px rgba(255, 255, 255, 0);
  }
}

/* Basic button styles */
.reaction-buttons {
  display: flex;
  gap: 10px;
}

.reaction-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  outline: none;
  transition: transform 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;
  color: inherit;
}

.reaction-button:hover {
  transform: scale(1.2); /* Slightly enlarge the button on hover */
}

.reaction-button.selected {
  background-color: rgba(251, 255, 0, 0.5); /* Light blue background */
  border-radius: 50%; /* Make button round */
  animation: shine 1s ease-in-out;
}


.answer-counter{
  font-size: large;
  font-family: 'Roboto', sans-serif;;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  text-align: center;
}


/* Animation for the shine effect */
@keyframes shine {
  0% {
    box-shadow: 0 0 5px rgba(48, 101, 112, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(48, 101, 112, 0.5);
  }
  100% {
    box-shadow: 0 0 5px rgba(48, 101, 112, 0.5);
  }
}

