@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.ticker-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.ticker-wrapper {
  display: flex;
  animation: ticker 15s linear infinite;
}

.ticker-text {
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  padding: 0 50px;
  display: inline-block;
}
