#viewers-container {
  background-color: rgba(218, 189, 189, 0.6);
  border-left: 1px solid #ddd;
  padding-left: 15px;
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  border: #080707;
  padding: 10px;
}

.viewer-username-item {
  font-family: 'Oxanium', sans-serif;
  color: rgba(3, 6, 7, 0.8); 
  font-weight: 600; 
  padding-top: 4px; 
  line-height: 1.4; 
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.viewer-username-text {
  margin-left: 10px;
}

.viewer-username-item img {
  height: 1em; /* This ensures the logo fits the height of the username text */
}