@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-color: rgba(49, 35, 48);
  background-image: url('/public/1989436-clean.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Ensure the background covers the entire viewport height */
}

.container {
  padding-top: 20px; /* Adjust as needed */
  padding-bottom: 20px; /* Adjust as needed */
}

.welcome-logo{
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
}

.welcome-logo img{
  max-width: 50%;
  height: auto;
}

.welcome-logo{
  max-width: 100%;
  height: auto;
}

p.project-intro {
  max-width: 60%;
  padding: 10px;
  background-color: rgba(55, 55, 79, 0.6);
  border-radius: 8px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  text-shadow: rgba(26, 21, 3) 1px 0 10px;
  color: #f8e007;
  letter-spacing: 0.1rem;
}

.row.welcome-options{
  margin: 0px 0px;
}

.col-md-6.mb-3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box.p-3 {
  position: relative; /* Ensure position relative for absolute positioning */
  width: 80%;
  background-color: rgba(248, 249, 250, 0.5); /* Light background color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for depth */
}

.box.p-3::before {
  content: '';
  position: absolute;
  top: -15px; /* Adjust to position triangle */
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #f8f9fa transparent transparent;
}

button.i-am {
  border: 2px solid #1a1917;
}

.selection-text {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Oxanium', sans-serif;
  letter-spacing: 0.2rem;
}

.join-room {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgba(48, 101, 112, 0.3);
  border-radius: 8px;
  border: 2px solid rgba(29, 22, 29, 0.9);
  width: 46%;
  height: 4rem;
}

.join-input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);  /* Example border */
  padding: 0.5rem;  /* Add padding for better appearance */
}

input.join.input {
  padding: 0.5rem;
  flex-grow: 1;  
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 0, 0.9);
  background-color: rgba(225, 233, 235, 0.788);
  color: rgb(42, 17, 83);
  font-style: italic;
  font-family: 'Oxanium', sans-serif;
}

button.join.button {
  background-color: rgb(207, 193, 207);
  border-radius: 6px;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: 'Oxanium', sans-serif;
}